@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 46%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
img {
  max-width: 100%;
}
.card {
  max-width: 20rem;
  background-color: var(--white);
  padding: 1rem 1rem 2.75rem;
  border-radius: 1rem;
  text-align: center;
}
.card--img {
  margin-bottom: 1.875rem;
}
.card--img img {
  border-radius: 0.75rem;
}

.card--heading {
  color: var(--dark-blue);
  margin-bottom: 1.25rem;
}
.card--text {
  color: var(--grayish-blue);
}

/* Attributions  */

.attribution {
  font-size: 13px;
  position: absolute;
  bottom: 1rem;
  text-align: center;
}
.attribution a {
  color: #212c59;
  font-weight: bold;
  font-size: 15px;
}
